<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="classpath:environment.properties"/>
    <util:properties id="properties" location="classpath:environment.properties"/>
    <import resource="spring_database.xml"/>
    <import resource="spring_service.xml"/>

    <bean id="pushTimer"
          class="com.derbysoft.chapaai.adapter.pusher.application.timer.PushTimer"
          init-method="start">
        <property name="intervalSeconds" value="${pull.timer.interval.seconds}"/>
        <property name="pushTimerTask" ref="pushTimerTask"/>
        <property name="timer">
            <bean class="java.util.Timer">
                <constructor-arg index="0" value="pushTimer"/>
                <constructor-arg index="1" value="false"/>
            </bean>
        </property>
    </bean>

    <bean id="pushTimerTask"
          class="com.derbysoft.chapaai.adapter.pusher.application.timer.timertask.PushTimerTask">
        <property name="providerRepository" ref="providerRepository"/>
        <lookup-method name="createProviderPushTimer" bean="providerPushTimer"/>
    </bean>

    <bean id="providerPushTimer"
          class="com.derbysoft.chapaai.adapter.pusher.application.timer.ProviderPushTimer"
          scope="prototype">
        <property name="timer">
            <bean class="java.util.Timer">
                <constructor-arg index="0" value="false"/>
            </bean>
        </property>
        <property name="providerPushTimerTask" ref="providerPushTimerTask"/>
        <property name="pushTaskExecutor" ref="pushTaskExecutor"/>
    </bean>

    <bean id="pushTaskExecutor"
          class="com.derbysoft.chapaai.adapter.pusher.application.task.executor.PushTaskExecutor"
          scope="prototype">
        <property name="hotelPushService" ref="hotelPushService"/>
    </bean>

    <bean id="providerPushTimerTask"
          class="com.derbysoft.chapaai.adapter.pusher.application.timer.timertask.ProviderPushTimerTask"
          scope="prototype">
        <property name="taskGenerator" ref="pushTaskGenerator"/>
        <property name="pushTaskQueue">
            <bean class="com.derbysoft.chapaai.adapter.core.concurrent.PriorityTaskQueue"/>
        </property>
    </bean>


    <bean id="pushTaskGenerator"
          class="com.derbysoft.chapaai.adapter.pusher.application.task.generator.PushTaskGenerator"
          scope="prototype">
        <property name="hotelRepository" ref="hotelRepository"/>
        <property name="changeRepository" ref="changeRepository"/>
    </bean>

</beans>