<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd




                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd">
    <import resource="spring_system_test_database.xml"/>

    <bean id="hotelPushService"
          class="com.derbysoft.chapaai.adapter.pusher.service.impl.HotelPushServiceImpl">
        <property name="changeRepository" ref="ChangeRepository"/>
        <property name="pushServices">
            <list>
                <ref bean="stayAvailabilityPushService"/>
            </list>
        </property>
    </bean>

    <bean id="ChangeRepository"
          class="com.derbysoft.chapaai.adapter.pusher.repository.impl.ChangeRepositoryImpl">
        <property name="synchronizeChangeService" ref="synchronizerRemoteService"/>
        <property name="channel" value="channel"/>
    </bean>

    <bean id="synchronizerRemoteService"
          class="com.derbysoft.synchronizer.remote.buyer.BuyerSynchronizerRemoteService"
          factory-bean="mockFactory"
          factory-method="createMockBuyerSynchronizerRemoteService">
    </bean>

    <bean id="stayAvailabilityPushService"
          class="com.derbysoft.chapaai.adapter.pusher.service.impl.StayAvailabilityPushServiceImpl">
        <property name="stayAvailabilityTranslator" ref="stayAvailabilityTranslator"/>
        <property name="webServiceTemplate" ref="webServiceTemplate"/>
    </bean>


    <bean id="stayAvailabilityTranslator"
          class="com.derbysoft.chapaai.adapter.pusher.domain.translator.losrate.StayAvailabilityTranslator">
        <property name="dailyRateTranslator" ref="dailyRateTranslator"/>
    </bean>

    <bean id="dailyRateTranslator"
          class="com.derbysoft.chapaai.adapter.pusher.domain.translator.losrate.DailyRateTranslator"/>

    <bean id="messageFactory" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory"/>

    <bean id="webServiceTemplate" class="org.springframework.ws.client.core.WebServiceTemplate">
        <constructor-arg ref="messageFactory"/>
        <property name="defaultUri" value="http://dt162:8081/stayavailibilityupdate"/>
        <property name="marshaller" ref="stayAvailabilityUpdateRequestMarshaller"/>
        <property name="unmarshaller" ref="stayAvailabilityUpdateRequestUnmarshaller"/>
    </bean>

    <bean id="stayAvailabilityUpdateRequestMarshaller" class="org.springframework.oxm.jibx.JibxMarshaller">
        <property name="targetClass" value="com.derbysoft.adapter.chapaai.pusher.domain.stay.StayAvailabilityUpdateRequest"/>
    </bean>

    <bean id="stayAvailabilityUpdateRequestUnmarshaller" class="org.springframework.oxm.jibx.JibxMarshaller">
        <property name="targetClass" value="com.derbysoft.adapter.chapaai.pusher.domain.stay.StayAvailabilityUpdateResponse"/>
    </bean>

    <bean id="mockFactory" class="com.derbysoft.chapaai.adapter.pusher.mock.object.BuyerSynchronizerRemoteServiceMockFactory"/>


    <tx:advice id="servicesAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="syncPush*" propagation="REQUIRED"/>
            <tx:method name="save*" propagation="REQUIRED"/>
            <tx:method name="remove*" propagation="REQUIRED"/>
            <tx:method name="list*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <aop:config proxy-target-class="true">
        <aop:pointcut id="serviceMethod"
                      expression="execution(* com.derbysoft.adapter.chapaai.pusher.application.service.*.*(..))"/>
        <aop:advisor pointcut-ref="serviceMethod" advice-ref="servicesAdvice"/>
    </aop:config>

</beans>